html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body{
  font-family: 'Quicksand', 'Arial';
  background: url("../images/pidgeon-background.jpg") #dddddd;
  background-repeat: no-repeat;
  padding-left: 15px;
}

p{
  color: black;
  font-size: 18px;
  padding-top: 15px;
}

footer p{
  color: white;
  background-color: black;
  min-height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2em;
  line-height: 1.5;
  color: #c12258;
}

a{
  font-size: 18px;
  color: #c12258;
  text-decoration: underline;
}

:focus{
  outline: 1px solid red;
}

table{
  border: 2px solid black;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

thead th{
  min-width: 150px;
  padding: 10px;
  color: white;
  background-color: #7e0830;
  text-transform: uppercase;
}

th, td {
  border-bottom: 2px solid black;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover{
  background-color: #fab9cf;
}

.colhead:first-child {
  border-top-left-radius: 10px;
}

.colhead:last-child{
  border-top-right-radius: 10px;
}

tr th .rowhead:last-child{
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

tr:last-child td, tr:last-child th{
  border-bottom: none;
}

tr:first-child th{
  border-bottom: 2px solid black;
}
